<div class="section  text-center" style="margin-top:100px">
    <div class="container">
        <h1 class="card-title">{{product}}</h1>
        <div class="section">
            <p class="lead text-justify">{{shortdesc}}</p>
            <div>
                <img class="img-thumbnail" src="../upload/{{id}}/gallery/{{img}}" alt="{{product}}">
            </div>
            <p class="lead text-justify">{{longdesc}}</p>
        </div>
    </div>
    <div class="container-fluid">
        <h2>Galerija</h2>
        <hr />
        <div class="row">
            <div ng-repeat="x in gallery" class="col-sm-4 zoom" style="padding:0;margin:0">
                <img class="img-fluid" src="../upload/{{id}}/gallery/{{x}}" alt="{{product}}">
            </div>
        </div>
    </div>
</div>
