<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="IG PROG, vl. Igor Gašparović">
    <link href="../assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendor/jquery.floating-social-share.min.css" />
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="../assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/angular.min.js"></script>
    <script src="assets/js/vendor/angular-animate.min.js"></script>
    <script src="assets/js/vendor/angular-aria.min.js"></script>
    <script src="assets/js/vendor/aui-min.js"></script>
    <script src="assets/js/vendor/moment.js"></script>
    <script src="assets/js/vendor/ui-scheduler-event-recorder.js"></script>
    <script src="assets/js/vendor/ngStorage.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Encode Sans Expanded' rel='stylesheet'>
</head>
<body ng-app="admin" ng-controller="adminCtrl" style="color:black">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">Admin</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html" target="_blank"><span class="fa fa-home"></span> Home</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('product')"><a href="#">Product</a></li>
                    <!--<li ng-if="islogin" ng-click="toggleTpl('programPrehrane5')"><a href="#">Instalacije</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('orders')"><a href="#">Narudžbe</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('invoices')"><a href="#">Računi</a></li>-->
                </ul>
                <ul ng-if="islogin" class="nav navbar-nav navbar-right">
                    <li ng-click="f.logout()"><a href="#"><span class="fa fa-sign-in"></span> Odjava</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-include="tpl" style="padding-top:20px"></div>

    <script type="text/ng-template" id="login">
        <div class="container" style="padding-bottom:20px">
            <div class="row">
                <div class="col-sm-4">
                    <fieldset class="fieldset-border">
                        <legend class="fieldset-border">Login</legend>
                        <form id="loginform">
                            <div class="input-group" style="margin:5px 0px 0px 0px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input ng-model="u.userName" type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="input-group" style="margin:5px 0px 0px 0px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input ng-model="u.password" type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </form>
                        <div>
                            <a href="signup.html" class="btn btn-default mt-5"><span class="fa fa-sign-out"></span> Registracija</a>
                            <button type="submit" form="loginform" ng-click="f.login(u)" class="btn btn-primary pull-right mt-5"><i class="fa fa-key"></i> Prijava</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="product">
        <div ng-if="islogin" class="container" style="padding-bottom:40px">
            <div>
                <h2>Oglasi</h2>
            </div>
            <div ng-repeat="x in p" class="mt-10">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                Oglas br. {{$index+1}}
                            </div>
                            <div class="col-sm-6">
                                <button ng-click="f.deleteProduct(x, u)" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i> Briši</button>
                            </div>
                        </div>                      
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <form>
                                    <div class="form-group">
                                        <label>Grupa:</label>
                                        <select ng-model="x.productGroup" class="form-control">
                                            <option ng-repeat="x in pg" value="{{x.productGroupId}}">{{x.title}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Naziv:</label>
                                        <input ng-model="x.title" type="text" class="form-control" maxlength="30">
                                    </div>
                                    <div class="form-group">
                                        <label>Kratki opis</label>
                                        <input ng-model="x.shortDescription" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Dugi opis</label>
                                        <textarea ng-model="x.longDescription" rows="4" class="form-control" maxlength="2000"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Ulica i broj</label>
                                        <input ng-model="x.address" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Poštanski broj</label>
                                        <input ng-model="x.postalCode" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Grad</label>
                                        <input ng-model="x.city" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Telefon</label>
                                        <input ng-model="x.phone" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input ng-model="x.email" type="email" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Web</label>
                                        <input ng-model="x.web" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Cijena (€)</label>
                                        <input ng-model="x.price" type="text" class="form-control" maxlength="50">
                                    </div>
                                    <!--<div class="form-group">
                                        <label>Latitude</label>
                                        <input ng-model="x.latitude" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input ng-model="x.longitude" type="text" class="form-control">
                                    </div>-->
                                    <div class="text-right">
                                        <button ng-click="f.save(x, u)" type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Spremi</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <div ng-if="x.productId">
                                    <label>Galerija</label>
                                    <form id="formUpload_{{x.productId}}" ng-submit="f.upload(x, $index)" enctype="multipart/form-data" method="post">
                                        <input id="imgId" name="imgId" ng-model="x.productId" type="text" hidden="hidden">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input ng-model="file" name="UploadedFile" id="UploadedFile" type="file" accept="image/*" class="form-control">
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-primary text-capitalize"><i class="fa fa-upload"></i> Upload</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="mt-10">
                                        <div ng-repeat="y in x.gallery track by $index" class="mt-20">
                                            <div class="input-group mt-10">
                                                <img src="../upload/{{x.productId}}/gallery/{{y}}" alt="{{x.title}}" class="img-thumbnail" />
                                                <span ng-click="f.deleteImg(x, y)" class="btn btn-default input-group-addon" title="Briši"><i class="fa fa-times text-danger"></i></span>
                                            </div>
                                            <div class="mt-10">
                                                <input id="{{y}}_{{x.productId}}" type="radio" name="mainimg_{{x.productId}}" ng-click="f.setMainImg(x, y)" value="{{y}}" /> <label for="{{y}}_{{x.productId}}" ng-click="f.setMainImg(x, y)">Postavi kao glavnu sliku</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button ng-click="f.newProduct(u.userId)" class="btn btn-success"><i class="fa fa-plus"></i> Novi oglas</button>
            </div>

            <!--<pre>{{u | json}}</pre>
            <pre>{{p | json}}</pre>-->

        </div>
    </script>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <!--<script src="../js/creative.min.js"></script>-->

    <script src="/admin/js/admin.js"></script>
    <script src="../js/functions.js"></script>

</body>
</html>

